<a ui-sref="home"><i class="fa fa-home" aria-hidden="true"></i> Back Home</a>
<h2>{{main.board.title}}</h2>

<!-- New Pin Form -->
<div class="show-form">
  <div>
    <h3 class="create" ng-click="showForm = !showForm"><i class="fa fa-plus" aria-hidden="true"></i> Add New Pin</h3>
  </div>

  <div ng-if="showForm">
    <form ng-submit="main.createPin(main.board)">
      <input ng-model="main.newPin.title" type="text" placeholder="Title"/>
      <input ng-model="main.newPin.image_url" type="text" placeholder="Image URL"/>
      <button>Add Pin</button>
    </form>
  </div>
</div>

<!-- <div class='board container'> -->
<div id="columns" class='container'>
    <div ng-repeat="pin in main.pins track by $index">
      <h3>{{pin.title}}</h3>
      <img src="{{pin.image_url}}"/>

      <button ng-click="main.deletePin(main.board, pin, $index)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
      <button ng-click="showEdit = !showEdit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
      
      <form ng-show="showEdit" ng-submit="main.updatePin(pin, $index)">
        <input ng-model="main.updatedPin.title" type="text" placeholder="Title"/>
        <input ng-model="main.updatedPin.image_url" type="text" placeholder="Image URL"/>
        <button ng-click="showEdit = false">Save Changes</button>
      </form>
    </div>
</div>
